.navTray {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  transition: transform .4s;
  z-index: 10;
}

.navTrayTop {
  display: flex;
  align-items: center;
}

.navCloseBtn {
  cursor: pointer;
  margin: 1em 34px auto auto;
  width: 30px;
  height: 30px;
}

.navHide {
  transform: translateX(-100%);
  transition: transform .4s;
}

.navItems {
  margin-left: 4em;
}

.navItem {
  font-size: 24px;
  color: rgb(59, 59, 59);
  margin-top: 1em;
  padding: 0.5em 0;
}

.navItem a {
  padding: 0.5em 1em;
  text-decoration: none;
  color: inherit;
}