.txt { composes: txt from './home.module.css'; }

.iconWrapper { composes: iconWrapper from './home.module.css'; }

.icon { composes: icon from './home.module.css'; }

.transitionWrapper { composes: transitionWrapper from './home.module.css'; }

.transition { composes: transition from './home.module.css'; }

.about {
  background-color: #e4ebdd;
}

.aboutHook {
  color: rgb(59, 59, 59);
  text-align: center;
  margin: 0;
}

.aboutMore {
  margin: 2em 0;
  font-size: 18px;
}

.aboutBtnLabel {
  text-align: center;
}

.aboutBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 128px;
  margin: 2em auto;
}

.aboutBtn {
  position: relative;
  background-color: #f5fded;
  height: 128px;
  width: 128px;
  margin: 32px;
  border-radius: 50%;
  border: 2px solid forestgreen;
  box-shadow: 1px 2px 4px #355035;
  transition: 0.5s height, 0.5s width;

  /* Counteract margins on hover */
  &:hover {
    height: 64px;
    width: 64px;
    transition: 0.5s height, 0.5s width;
  }
}

.aboutBtn div {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}