@import './variables.scss';

.banner {
  background-color: #8f9779;
  margin-bottom: 0;
}

.bannerTxt {
  @media (min-width: $medium-screen) {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
  }
}

.bannerHook {
  color: white;
  font-size: 40px;
  font-weight: 400;
}

.bannerMore {
  color: #f5fded;
}

.bannerImgWrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: auto;
}

.bannerImg {
  width: 100%;
  height: auto;
}

.bannerTransitionWrapper {
  position: absolute;
}