:global(.txt) {
  color: rgb(60, 60, 60);
  padding: 2em 10%;
}

:global(.transitionWrapper) {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

:global(.transition) {
  width: 100%;
  margin-bottom: -1px;
}

:global(.icon) {
  height: 100%;
  width: auto;
}

:global(.iconWrapper) {
  height: 64px;
  width: 64px;
  background-color: cornflowerblue;
  border-radius: 50%;
  box-shadow: 0px 1px 2px slategray;
}

:global(.btnWrapper) {
  display:flex;
  align-items: center;
}

:global(.centered) {
  margin: 0 auto;
}