@import './variables.scss';

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  flex-wrap: wrap;
  background-color: white;
}

.headerLogo {
  width: 180px;
  margin: 0.25em 1em;

  @media (min-width: $medium-screen) {
    width: 33%;
    height: auto;
    margin: 1em;
    max-width: 600px;
    min-width: 180px;
  }
}

.headerMenuIcon {
  width: 22px;
  height: 22px;
  margin-right: 24px;
  cursor: pointer;
  @media (min-width: $medium-screen) {
    pointer-events: none;
    display: none;
  }
}

.headerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerLink {
  pointer-events: none;
  display: none;
  @media (min-width: $medium-screen) {
    pointer-events: initial;
    display: flex;
    flex: 1;
    white-space: nowrap;
    margin: 0 2em;
  }
}