@import './_variables';

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  flex-wrap: wrap;
  background-color: white;
}

.headerLogo {
  width: 180px;
  margin: 0.25em 1em;
  cursor: pointer;
  @media (min-width: $medium-screen) {
    width: 33%;
    height: auto;
    margin: 1em;
    max-width: 600px;
    min-width: 180px;
  }
}

.headerMenuIcon {
  width: 22px;
  height: 22px;
  margin-right: 24px;
  @media (min-width: $medium-screen) {
    pointer-events: none;
    display: none;
  }
}

.headerLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-variant: small-caps;
  font-weight: bold;
}

.headerLink {
  pointer-events: none;
  display: none;
  @media (min-width: $medium-screen) {
    pointer-events: initial;
    display: flex;
    flex: 1;
    white-space: nowrap;
    letter-spacing: 1px;
    margin: 0 0.25em;
    padding: 1em 1.5em;
    border: 1px solid white;
    transition: .1s border, .1s box-shadow, .1s border-radius;
  }
  &:hover {
    border: 1px solid lightgray;
    border-radius: 2px;
    box-shadow: 2px 2px 4px lightgray;
    transition: .2s border, .2s box-shadow, .2s border-radius;
    cursor: pointer;
  }
}