.banner {
  background-color: #8f9779;
  margin-bottom: 0;
}

.txt {
  color: rgb(60, 60, 60);
  padding: 2em 10%;
}

.bannerHook {
  color: white;
  font-size: 40px;
  font-weight: 400;
}

.bannerMore {
  color: #f5fded;
}

.bannerImgWrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.bannerImg {
  width: 100%;
  height: auto;
  max-width: 900px;
}

.bannerTransitionWrapper {
  position: absolute;
}

.transitionWrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.transition {
  width: 100%;
  margin-bottom: -1px;
}

.services {
  background-color: #f5fded;
}

.serviceHook {
  margin-top: 0;
}

.serviceLine {
  width: 40%;
  height: 2px;
  margin: 2em auto;
  background-color: #679267;
  border-radius: 4px;
}

.serviceWrapper {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
}

.serviceWrapper h4 {
  margin: 1em 0 0.5em 0;
}

.serviceWrapper p {
  margin: 0 0 3em 0;
}

.icon {
  height: 100%;
  width: auto;
}

.iconWrapper {
  height: 64px;
  width: 64px;
  background-color: cornflowerblue;
  border-radius: 50%;
  box-shadow: 0px 1px 2px slategray;
}

.btnWrapper {
  display:flex;
  align-items: center;
}

.serviceBtn {
  background-color: rgb(206, 164, 59);
  box-shadow: 1px 1px 4px #898e84;
  color: #f5fded;
  transition: .2s background-color, .2s color;
}

.trainings {
  background-color: #679267;
  height: 70vh;
}

.trainingHook {
  text-align: right;
}

.trainingMore {
  color: #f5fded;
  font-weight: 400;
  margin-bottom: 0;
}

.trainingLine {
  width: 40%;
  height: 2px;
  margin: auto;
  background-color: #f5fded;
  border-radius: 4px;
}

.about {
  background-color: #e4ebdd;
}

.aboutHook {
  color: rgb(59, 59, 59);
  margin: 0;
}

.aboutMore {
  margin: 2em 0;
  font-size: 18px;
}

.aboutBtnLabel {
  text-align: center;
}

.aboutBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 128px;
  margin: 2em auto;
}

.aboutBtn {
  position: relative;
  background-color: #f5fded;
  height: 128px;
  width: 128px;
  margin: 32px;
  border-radius: 50%;
  border: 2px solid forestgreen;
  box-shadow: 1px 2px 4px #355035;
  transition: 0.5s height, 0.5s width;

  /* Counteract the margins on hover */
  &:hover {
    height: 64px;
    width: 64px;
    transition: 0.5s height, 0.5s width;
  }
}

.aboutBtn .iconWrapper {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cta {
  background-color: #4d724d;
}

.cta .txt {
  color: #f5fded;
}

.ctaBtn {
  color: white;
  background-color: rgb(211, 152, 25);
  box-shadow: 1px 2px 4px #355035;
  margin: 2em 0;
  transition: .2s background-color, .2s color;
}

.ctaBtn:hover {
  background-color: rgb(235, 169, 26);
}

.ctaImgWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.ctaSvg {
  position: absolute;
  margin-top: -1px;
}

.ctaImg {
  width: 100%;
  height: auto;
}