.background {
  background-color: #ededed;;
}

.profile {
  color: rgb(59, 59, 59);
}

.profile h3 {
  margin-bottom: 0;
}

.portrait {
  width: 80%;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 2px 4px #afb6a9;
}

.portraitLeft {
  border-radius: 0 25% 0 25%;
}

.portraitRight {
  border-radius: 25% 0 25% 0;
}

.subTitle {
  color: rgb(88, 88, 88);
  margin-top: .25em;
  margin-bottom: 1em;
}

.profileBtnWrapper {
  margin: 2em 0 4em;
}

.profileBtn {
  background-color: whitesmoke;
  box-shadow: 1px 1px 4px #afb6a9;
  transition: 0.25s background-color, 0.1s color;
}