@import '../partial/variables';

.about {
  background-color: #e4ebdd;
}

.aboutTxt {
  padding: 2em 10%;
  @media (min-width: $medium-screen) {
    margin-top: -5%;
    padding: 2em 20% 0;
  }
}

.aboutHook {
  color: rgb(59, 59, 59);
  text-align: center;
  margin: 0;
}

.aboutMore {
  margin: 2em 0;
  font-size: 18px;
}

.aboutBtnLabel {
  text-align: center;
}

.aboutBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 128px;
  margin: 2em auto;
}

.aboutBtn {
  position: relative;
  background-color: #f5fded;
  height: 128px;
  width: 128px;
  margin: 32px;
  border-radius: 50%;
  border: 2px solid forestgreen;
  box-shadow: 1px 2px 4px #355035;
  transition: 0.5s height, 0.5s width;

  /* Counteract margins on hover */
  &:hover {
    height: 64px;
    width: 64px;
    transition: 0.5s height, 0.5s width;
  }
}

.aboutBtn div {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutBottomTransition {
  @media (min-width: $medium-screen) {
    transform: scaleY(50%);
    transform-origin: bottom;
    margin-top: -10%;
  }
}