@import '../partial/variables';

.cta {
  background-color: #4d724d;
}

.cta .txt {
  color: #f5fded;
}

.ctaBtn {
  color: white;
  background-color: rgb(211, 152, 25);
  box-shadow: 1px 2px 4px #355035;
  margin: 2em 0;
  transition: .2s background-color, .2s color;
}

.ctaBtn:hover {
  background-color: rgb(235, 169, 26);
}

.ctaImgWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.ctaSvg {
  position: absolute;
  margin-bottom: -1px;
  @media (min-width: $medium-screen) {
    transform: scaleY(50%);
    transform-origin: top;
  }
}

.ctaImg {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 4px -4px rgb(25, 25, 25);
  @media (min-width: $medium-screen) {
    max-height: 300px;
    object-fit: cover;
    object-position: bottom;
  }
}